
.body{
background-color: blanchedalmond;
font-family: Arial, Helvetica, sans-serif;
}

.h1{
font-size: medium;
}

.p{
font-size: small;
}

.footer{
font-size: medium;
font-family: Arial, Helvetica, sans-serif ;
}

